.title {
    text-align: center;
    font-size: 24px;
}

.loader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loader-icon {
    border: 10px solid var(--ion-color-tertiary);
    border-radius: 50%;
    border-left-color: transparent;
    width: 90px;
    height: 90px;
    animation: giro 1s linear infinite;
}

.loader-text {
    font-size: 20px;
    font-weight: bold;
    color: var(--ion-color-tertiary);
}

.date-container {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.top-task {
    height: 45px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: flex-start;
}

.circle {
    background-color: rgb(80, 80, 80);
    height: 16px;
    width: 16px;
    border-radius: 10px;
}

.date {
    font-size: 20px;
    margin-left: 10px;
}

.bottom-task {
    margin: 0px;
    display: grid;
    grid-template-columns: 30px auto;
    align-items: center;
}

.line {
    height: 110px;
    width: 5px;
    margin-left: 5px;
    background-color: rgb(80, 80, 80);
}

.task-details {
    display: grid;
    grid-template-columns: 15px auto 45px;
    align-items: center;
    padding-left: 18px;
    padding-right: 15px;
    background-color: var(--ion-color-light);
    border-radius: 20px;
}

.line-priority1 {
    height: 45px;
    width: 5px;
    background-color: rgb(42, 200, 227);
    border-radius: 20px;
}

.line-priority2 {
    height: 45px;
    width: 5px;
    background-color: rgb(176, 212, 132);
    border-radius: 20px;
}

.line-priority3 {
    height: 45px;
    width: 5px;
    background-color: hsl(338, 100%, 75%);
    border-radius: 20px;
}

.letters1 {
    font-size: 17px;
    font-weight: bold;
    color: rgb(42, 200, 227);
    margin-right: 10px;
}

.letters2 {
    font-size: 17px;
    font-weight: bold;
    color: rgb(176, 212, 132);
    margin-right: 10px;
}

.letters3 {
    font-size: 17px;
    font-weight: bold;
    color: hsl(338, 100%, 75%);
    margin-right: 10px;
}

.hour {
    font-size: 15px;
    color: gray;
    margin-top: 0;
}

.status-block1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    background-color: lime;
    border-radius: 10px;
}

.status-block2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    background-color: orangered;
    border-radius: 10px;
}

.status-icon {
    height: 30px;
    width: 30px;
}

.no-task {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.no-task-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90px;
    width: 90px;
    background-color: hsl(338, 100%, 75%);
    border-radius: 100px;
}

.no-task-icon {
    height: 40px;
    width: 40px;
}

.no-task-title {
    font-size: 22px;
    font-weight: bold;
    color: var(--ion-color-tertiary);
}

.no-task-subtitle {
    font-size: 18px;
    color: gray
}

@keyframes giro {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}