.loader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loader-icon {
    border: 10px solid var(--ion-color-tertiary);
    border-radius: 50%;
    border-left-color: transparent;
    width: 90px;
    height: 90px;
    animation: giro 1s linear infinite;
}

.loader-text {
    font-size: 20px;
    font-weight: bold;
    color: var(--ion-color-tertiary);
}

.date-container {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.top-task {
    height: 45px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: flex-start;
}

.circle {
    background-color: rgb(80, 80, 80);
    height: 16px;
    width: 16px;
    border-radius: 10px;
}

.date {
    font-size: 20px;
    margin-left: 10px;
}

.bottom-task {
    margin: 0px;
    display: grid;
    grid-template-columns: 30px auto;
    align-items: center;
}

.line {
    height: 110px;
    width: 5px;
    margin-left: 5px;
    background-color: rgb(80, 80, 80);
}


.no-task {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.no-task-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90px;
    width: 90px;
    background-color: var(--high_priority);
    border-radius: 100px;
}

.no-task-icon {
    height: 40px;
    width: 40px;
}

.no-task-title {
    font-size: 22px;
    font-weight: bold;
    color: var(--ion-color-tertiary);
}

.no-task-subtitle {
    font-size: 18px;
    color: gray
}

@keyframes giro {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}