.loader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loader-icon {
    border: 10px solid var(--ion-color-tertiary);
    border-radius: 50%;
    border-left-color: transparent;
    width: 90px;
    height: 90px;
    animation: giro 1s linear infinite;
}

.loader-text {
    font-size: 20px;
    font-weight: bold;
    color: var(--ion-color-tertiary);
}

.date-container {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.top-task {
    height: 45px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: flex-start;
}

.circle {
    background-color: rgb(80, 80, 80);
    height: 16px;
    width: 16px;
    border-radius: 10px;
}

.date {
    font-size: 20px;
    margin-left: 10px;
}

.bottom-task {
    margin: 0px;
    display: grid;
    grid-template-columns: 30px auto;
    align-items: center;
}

.line {
    height: 110px;
    width: 5px;
    margin-left: 5px;
    background-color: rgb(80, 80, 80);
}

.task-details {
    display: grid;
    grid-template-columns: 15px auto 45px;
    align-items: center;
    padding: 10px 15px 10px 18px;
    // padding-left: 18px;
    // padding-right: 15px;
    background-color: var(--ion-color-light);
    border-radius: 10px;
}

.line-priority1 {
    height: 100%;
    width: 5px;
    background-color: var(--low_priority);
    border-radius: 20px;
}

.line-priority2 {
    height: 100%;
    width: 5px;
    background-color: var(--medium_priority);
    border-radius: 20px;
}

.line-priority3 {
    height: 100%;
    width: 5px;
    background-color: var(--high_priority);
    border-radius: 20px;
}

.task-title-low {
    font-size: 17px;
    font-weight: bold;
    color: var(--low_priority);
    margin: 0 10px 0 0;
}

.task-title-medium {
    font-size: 17px;
    font-weight: bold;
    color: var(--medium_priority);
    margin: 0 10px 0 0;
}

.task-title-high {
    font-size: 17px;
    font-weight: bold;
    color: var(--high_priority);
    margin: 0 10px 0 0;
}

.status{
    margin: 4px 0 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.circle-pending{
    margin-right: 5px;
    height: 9px;
    width: 9px;
    background-color: var(--pending);
    border-radius: 10px;
}

.status-text-pending{
    margin: 0;
    font-size: 14px;
    color: var(--pending);
}

.status-text-completed{
    margin: 0;
    font-size: 14px;
    color: var(--completed);
}

.hour {
    margin: 0 0 0 12px;
    font-size: 15px;
    color: gray;
}

.status-block1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    background-color: var(--completed);
    border-radius: 10px;
}

.status-block2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    background-color: orangered;
    border-radius: 10px;
}

.status-icon {
    height: 30px;
    width: 30px;
}

.no-task {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.no-task-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90px;
    width: 90px;
    background-color: var(--high_priority);
    border-radius: 100px;
}

.no-task-icon {
    height: 40px;
    width: 40px;
}

.no-task-title {
    font-size: 22px;
    font-weight: bold;
    color: var(--ion-color-tertiary);
}

.no-task-subtitle {
    font-size: 18px;
    color: gray
}

@keyframes giro {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}