<ion-header [translucent]="true">
  <ion-toolbar mode="ios">
    <ion-title>
      {{ 'HISTORIAL.TITLE' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="date-container">
    <div class="date-details">
      <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>

      <!-- Bloque de tareas en desarrollo -->
      <div *ngIf="developMode">
        <div class="top-task">
          <div class="circle"></div>
          <h1 class="date">{{tasks.datetime | date : "dd-MM-yyyy"}}</h1>
        </div>

        <div class="bottom-task">
          <div class="line"></div>
          <app-schedule-card [task]="tasks"></app-schedule-card>
        </div>
      </div>

      <!-- Bloque de tareas en producción -->
      <div *ngIf="!developMode">
        <!-- Pagina de carga -->
        <div *ngIf="loadPage" class="loader">
          <div class="loader-icon"></div>
          <h1 class="loader-text">{{ 'HISTORIAL.LOADING' | translate }}</h1>
        </div>

        <!-- Pagina de datos vacíos -->
        <div *ngIf="isNone" class="no-task">
          <div class="no-task-circle">
            <ion-icon class="no-task-icon" name="clipboard"></ion-icon>
          </div>

          <h1 class="no-task-title">{{ 'HISTORIAL.NO-TASK-TITLE' | translate }}</h1>
          <h1 class="no-task-subtitle">{{ 'HISTORIAL.NO-TASK-SUBTITLE' | translate }}</h1>
          <ion-button mode="ios" color="tertiary" [routerLink]="['/create-task']"><ion-icon slot="start"
              name="add"></ion-icon>{{ 'HISTORIAL.ADD' | translate }}</ion-button>
        </div>

        <!-- bloque de tareas -->
        <div *ngIf="!isNone">
          <div *ngFor="let task of tasks()">
            <div class="top-task">
              <div class="circle"></div>
              <h1 class="date">{{task.datetime | date : "dd-MM-yyyy"}}</h1>
            </div>
  
            <div class="bottom-task">
              <div class="line"></div>
              <app-schedule-card [task]="task"></app-schedule-card>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</ion-content>