* {
    --title: white;
    --subtitle: gray;
}

.task-details {
    display: grid;
    grid-template-columns: 14px 35% auto;
    align-items: center;
    padding: 10px 15px 10px 12px;
    background-color: var(--ion-color-light);
    border-radius: 10px;
}

.line-priority-low {
    height: 100%;
    width: 4px;
    background-color: var(--low_priority);
    border-radius: 20px;
}

.line-priority-medium {
    height: 100%;
    width: 4px;
    background-color: var(--medium_priority);
    border-radius: 20px;
}

.line-priority-high {
    height: 100%;
    width: 4px;
    background-color: var(--high_priority);
    border-radius: 20px;
}

.task-title-low {
    font-size: 17px;
    font-weight: bold;
    color: var(--low_priority);
    margin: 0 10px 0 0;
}

.task-title-medium {
    font-size: 17px;
    font-weight: bold;
    color: var(--medium_priority);
    margin: 0 10px 0 0;
}

.task-title-high {
    font-size: 17px;
    font-weight: bold;
    color: var(--high_priority);
    margin: 0 10px 0 0;
}

.status {
    margin: 4px 0 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.status-text-pending {
    margin: 0;
    font-size: 14px;
    color: var(--subtitle);
}

.status-text-completed {
    margin: 0;
    font-size: 14px;
    color: var(--completed);
}

.task-title {
    margin: 0;
    font-size: 14px;
    font-weight: bold;
    color: var(--title);
}

.task-subtitle {
    margin: 0;
    font-size: 14px;
    color: var(--subtitle);
}