<ion-header [translucent]="true">
  <ion-toolbar mode="ios">
    <ion-title>
      {{ 'BOARD.TITLE' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- Bloque del calendario -->
  <div class="content">
    <ion-datetime locale="{{ 'BOARD.LOCALE' | translate }}" mode="ios" presentation="date"
      [highlightedDates]="highlightedDates" size="cover" pickerFormat="YYYY-MM-DD" displayFormat="YYYY-MM-DD"
      cancelText="" doneText="BUSCAR" min="2000" max="2100" [showDefaultButtons]="true" (ionChange)="getDate($event)"
      [(ngModel)]="datetime"></ion-datetime>
  </div>
  <div class="taskContent">
    <div class="taskList">

      <!-- Bloque de tareas -->
      <!-- Sin tareas -->
      <div *ngIf="isNone">
        <div class="noTasks">
          <div class="circle">
            <ion-icon name="today"></ion-icon>
          </div>
          <h1 class="noTaskTitle">{{ 'BOARD.NO-TASKS-TITLE' | translate }}</h1>
          <h1 class="noTaskDescription">{{ 'BOARD.NO-TASK-SUBTITLE' | translate }}</h1>
        </div>
      </div>

      <!-- Con tareas -->
      <div *ngIf="!isNone">

        <!-- Tareas en modo desarrollador -->
        <div *ngIf="developMode">
          <app-schedule-card [task]="tasks"></app-schedule-card>
        </div>

        <!-- Tareas en modo producción -->
        <div *ngIf="!developMode">
          <div *ngFor="let task of tasks()">
            <app-schedule-card [task]="task"></app-schedule-card>
          </div>
        </div>
      </div>

    </div>
  </div>
</ion-content>