<ion-header [translucent]="true">
  <ion-toolbar mode="ios">
    <ion-title>
      {{ 'HOME.TITLE' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="contenedor">

    <div class="big_label_block">
      <h1 class="big_label">
        {{ 'HOME.SUB-TITLE' | translate }}
      </h1>
    </div>

    <!-- Contador tareas de baja prioridad -->
    <div class="contador_content_top">
      <div class="contador1"><ion-icon class="icon" name="today"></ion-icon>
        <h1 class="contador_title">{{ 'HOME.LOW-PRIORITY' | translate }}</h1>
        <h1 *ngIf="developMode" class="numero">{{ 'HOME.NO-TASKS' | translate }}</h1>
        <h1 *ngIf="!developMode && lowPriority[0].count == '0'" class="numero">{{ 'HOME.NO-TASKS' | translate }}
        </h1>
        <h1 *ngIf="!developMode && lowPriority[0].count != '0'" class="numero">{{lowPriority[0].count}} {{
          'HOME.TASKS' | translate }}
        </h1>
      </div>

      <!-- Contador tareas de media prioridad -->
      <div class="contador2"><ion-icon class="icon" name="documents"></ion-icon>
        <h1 class="contador_title">{{ 'HOME.MEDIUM-PRIORITY' | translate }}</h1>
        <h1 *ngIf="developMode" class="numero">{{ 'HOME.NO-TASKS' | translate }}</h1>
        <h1 *ngIf="!developMode && mediumPriority[0].count == '0'" class="numero">{{ 'HOME.NO-TASKS' | translate
          }}
        </h1>
        <h1 *ngIf="!developMode && mediumPriority[0].count != '0'" class="numero">{{mediumPriority[0].count}} {{
          'HOME.TASKS' |
          translate }}</h1>
      </div>
    </div>

    <!-- Contador tareas de alta prioridad -->
    <div class="contador_content_bottom">
      <div class="contador3"><ion-icon class="icon" name="warning"></ion-icon>
        <div class="important_block">
          <h1 class="contador_title">{{ 'HOME.HIGH-PRIORITY' | translate }}</h1>
          <h1 *ngIf="developMode" class="numero">{{ 'HOME.NO-TASKS' | translate }}</h1>
          <h1 *ngIf="!developMode && highPriority[0].count == '0'" class="numero">{{ 'HOME.NO-TASKS' | translate
            }}
          </h1>
          <h1 *ngIf="!developMode && highPriority[0].count != '0'" class="numero">{{ highPriority[0].count}} {{
            'HOME.TASKS' |
            translate }}</h1>
        </div>
      </div>
    </div>

    <!-- Cuerpo de la pagina -->
    <div class="tareas_content">
      <h1 class="bloque_tareas_title">{{ 'HOME.TASKS-HEADER' | translate }}</h1>

      <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>

      <!-- Pagina de carga -->
      <div *ngIf="loadPage" id="loading_Tasks">
        <ion-progress-bar type="indeterminate" color="primary"></ion-progress-bar>
        {{ 'HOME.LOADING' | translate }}
      </div>

      <div *ngIf="!loadPage">

        <!-- Lista de tareas del usuario -->
        <div *ngIf="isNone">
          <div class="no_tareas">
            <img src="../../assets/images/no_tasks.png" alt="fondo" class="no_tareas_fondo">
            <h1 class="no_tareas_title">{{ 'HOME.NO-TASKS-HEADER' | translate }}</h1>
            <h1 class="no_tareas_subtitle">{{ 'HOME.NO-TASKS-SUBHEADER' | translate }}</h1>
          </div>
        </div>
        <div *ngIf="!isNone">

          <!-- Tareas en modo desarrollador -->
           <div *ngIf="developMode">
            <app-task-card [task]="tasks"></app-task-card>
           </div>

          <!-- Tareas reales -->
           <div *ngIf="!developMode">
             <div *ngFor="let task of tasks()">
               <app-task-card [task]="task"></app-task-card>
             </div>
           </div>

        </div>
      </div>
    </div>
    <div class="espaciado" style="height: 50px;"></div>
  </div>

  <ion-fab slot="fixed" vertical="bottom" horizontal="center">
    <ion-fab-button [routerLink]="['/create-task']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>