.contenedor{
    display: flex;
    flex-direction: column;
}
.title_block{
    text-align: center;
}
.title{
    font-size: 18px;
    font-weight: bold;
}
.big_label_block{
    padding-top: 15px;
    text-align: center;
}
.big_label{
    font-size: 32px;
}

.contador_content_top{
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    color: black;
}

.contador_content_bottom{
    margin: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    color: black;
}
.icon{
    height: 50px;
    width: 50px;
}
.contador_title{
    margin: 10px;
    font-size: 18px;
    font-weight: bold;
}
.numero{
    margin: 5px;
    font-size: 15px;
}
.contador1{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    height: 160px;
    width: 130px;
    border-radius: 20px;
    background-color: rgb(42, 200, 227)
}
.contador2{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    height: 160px;
    width: 130px;
    border-radius: 20px;
    background-color: rgb(176, 212, 132)
}
.contador3{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 5px;
    height: 90px;
    width: 240px;
    border-radius: 20px;
    background-color: hsl(338, 100%, 75%)
}
.tareas_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
}
.bloque_tareas_title{
    font-size: 28px;
}

.bloque_tarea{
    display: grid;
    grid-template-columns: 90px auto 50px;
    background-color: rgb(31, 31, 31);
    border-radius: 20px;
    width: 100%;
    margin-bottom: 20px;
}

.bloque_icono{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}
.icono_fondo1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    background-color: rgb(42, 200, 227);
    border-radius: 100px;
}
.icono_fondo2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    background-color: rgb(176, 212, 132);
    border-radius: 100px;
}
.icono_fondo3{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    background-color: hsl(338, 100%, 75%);
    border-radius: 100px;
}
.tarea_icono{
    color: black;
    height: 28px;
    width: 28px;
}
.tarea_title{
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 0;
}
.estado_bloque{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
.estado_title{
    margin: 0;
    color: #868686;
    font-size: 14px;
}
.circle1{
    height: 12px;
    width: 12px;
    margin-left: 10px;
    margin-right: 5px;
    background-color: gold;
    border-radius: 10px;
}
.circle2{
    height: 12px;
    width: 12px;
    margin-left: 10px;
    margin-right: 5px;
    background-color: limegreen;
    border-radius: 10px;
}
.estado1{
    margin: 0;
    font-size: 13px;
    color: rgb(255, 174, 0);
}
.estado2{
    margin: 0;
    font-size: 13px;
    color: limegreen;
}
.tarea_sutitle{
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 13px;
    color: #868686;
}
.options{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 30px;
}

.loading_Tasks{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px
}

.no_tareas{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.no_tareas_fondo{
    margin-top: 80px;
    height: 140px;
    width: 140px;
}
.no_tareas_title{
    font-size: 25px;
    font-style: italic;
    color: rgb(155, 155, 155);
}
.no_tareas_subtitle{
    font-size: 19px;
    color: rgb(114, 114, 114);
}