<ion-header [translucent]="true">
  <ion-toolbar mode="ios">
    <ion-buttons slot="secondary" (click)="goBack()">
      <ion-button fill="clear">
        <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
        {{ 'FORMS.EXIT' | translate }}
      </ion-button>
    </ion-buttons>
    <ion-title>{{ 'FORMS.TITLE-CREATE' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="task" (ngSubmit)="createTask()">
    <ion-item color="light">
      <ion-label>{{ 'FORMS.TASK-TITLE' | translate }}:</ion-label>
      <ion-input type="Text input" maxlength="50" formControlName="title"></ion-input>
    </ion-item>

    <ion-item color="light">
      <ion-select label="{{ 'FORMS.PRIORITY' | translate }}" mode="md" placeholder="{{ 'FORMS.PRIORITY-SELECT' | translate }}" formControlName="priority">
        <ion-select-option value="1">{{ 'FORMS.LOW' | translate }}</ion-select-option>
        <ion-select-option value="2">{{ 'FORMS.MEDIUM' | translate }}</ion-select-option>
        <ion-select-option value="3">{{ 'FORMS.HIGH' | translate }}</ion-select-option>
      </ion-select>
    </ion-item>
  
    <ion-item color="light">
      <ion-label>{{ 'FORMS.DATE' | translate }}:</ion-label>
      <ion-input type="date" formControlName="date"></ion-input>
      <ion-icon name="today"></ion-icon>
    </ion-item>
  
    <ion-item color="light">
      <ion-label>{{ 'FORMS.HOUR' | translate }}:</ion-label>
      <ion-input type="time" formControlName="time"></ion-input>
      <ion-icon name="time"></ion-icon>
    </ion-item>

    <ion-item color="light">
      <ion-textarea label="{{ 'FORMS.DESCRIPTION' | translate }}:" labelPlacement="floating" type="Text input" maxlength="200" [counter]="true"
        formControlName="description" style="height: 120px;"></ion-textarea>
    </ion-item>
    
    <ion-item color="light">
      <ion-toggle labelPlacement="start" justify="space-between" formControlName="alarm">{{ 'FORMS.ALARM' | translate }}</ion-toggle>
    </ion-item>

    <div style="height: 30px;"></div>

    <ion-button class="done_buttom" type="submit" expand="block" fill="solid" color="success">{{ 'FORMS.CREATE' | translate }}</ion-button>
  </form>
</ion-content>